*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
   
}

body {
    background: rgb(101,47,47);
    background: -moz-linear-gradient(180deg, rgba(101,47,47,1) 4%, rgba(0,0,0,1) 78%);
    background: -webkit-linear-gradient(180deg, rgba(101,47,47,1) 4%, rgba(0,0,0,1) 78%);
    background: linear-gradient(180deg, rgba(101,47,47,1) 4%, rgba(0,0,0,1) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#652f2f",endColorstr="#000000",GradientType=1);

}
